body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: rgb(99, 19, 19);
  background: url("../images/world.jpg");
  background-repeat: no-repeat;
}

header {
  background: url("../images/ghana.png");
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: 20px center;
  height: 70px;
  width: 100%;
}

section .main h1,
p {
  text-align: center;
}

section .main h1 {
  font-size: 50px;
  margin: 0px 0 20px 0;
  color: rgb(114, 100, 21);
}

section .main p {
  font-size: 20px;
  font-weight: 500;
  width: 600px;
  margin-left: 25%;
  margin-top: 0;
}

section .main h3 {
  font-size: 30px;
  margin-left: 30%;
  color: rgb(92, 10, 10);
}

form {
  border: 1px solid transparent;
  /* background-color: rgb(0, 0, 0, 0.6); */
  width: 400px;
  margin-left: 20%;
  margin-top: 0;
  font-size: 20px;
  line-height: 40px;
  margin-left: 30%;
}

#date {
  width: 250px;
  cursor: pointer;
}

#btn {
  width: 100px;
  cursor: pointer;
}
#h3 {
  color: rgb(8, 90, 8);
  margin-left: 20%;
  margin-top: 10px;
}

footer {
  background-color: #38393d;
  height: 60px;
  width: 100%;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 900;
}
